@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
html, body {
    width: 100%;
    height:100%;
}

body {
    font-family: "Poppins";
    background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 30s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.link {
    color: #FFF;
  }
.link:hover {
    color: yellow
}

.header {
    font-size: 45px;
    color: rgb(77, 76, 76);
    padding-bottom: 50px;
}

.footer {
    color: #FFF;
}

.description {
    width: 300px;
    word-wrap: break-word;
}

.resolve-button {
    background-color: rgb(30, 202, 30);
    color: white;
}

.notification-wrapper {
    position: fixed;
    top: 10px;
    right: 10px;
    width: 300px;
}

.notification-item {
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    animation: SlideLeft 0.4s;
    animation-fill-mode: forwards;
    width: 300px;
}

.notification-flex {
    display: flex
}

.cancel {
    border:none;
    background-color:transparent;
    outline:none;
    padding-left: 62px;
    padding-bottom: 20px;
}

@keyframes SlideLeft {
    0% {
        margin-left: 120%;
    }

    100% {
        margin-left: 0;
    }
}

@keyframes SlideRight {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: 120%;
    }
}

.notification-item.exit {
    animation: SlideRight 0.4s;
    animation-fill-mode: forwards;
}

.notification-item p {
    margin: 0;
    padding: 10px;
}

.notification-item .bar {
    height: 10px;
}

.notification-item.success .bar {
    background-color: #65d266;
}

.notification-item.error .bar {
    background-color: red;
}

/* ======= MEDIA QUERIES (MEDIUM DEVICES) ======== */
@media screen and (max-width: 1024px) {
    tr{
        display:flex;
        flex-flow:row wrap;
        width:100%;
    }
    th{
        flex:1 1 10%;
        order:1;  
    }
    td{
        flex:1 1 10%;
        order:1;
    }
    th:nth-child(5){
        display: none;
    }
    td:nth-child(5){
        background:#ccc;
        flex:4 1 100%;
        font-weight:bold;
        order:4;
        text-align:center;
    }
}

/* ======= MEDIA QUERIES (SMALL DEVICES) ======== */
@media screen and (max-width: 600px) {
    tr{
        display:flex;
        flex-flow:row wrap;
        width:100%;
    }
    th{
        flex:1 1 10%;
        order:1;  
    }
    td{
        flex:1 1 10%;
        order:1;
    }
    th:nth-child(3) {
        white-space: nowrap;
     }
    th:nth-child(4) {
        display: none;
     }
    th:nth-child(5){
        display: none;
    }
    td:nth-child(4) {
        display: none;
     }
    td:nth-child(5){
        background:#ccc;
        flex:4 1 100%;
        font-weight:bold;
        order:4;
        text-align:center;
    }
}